<%# COPIED FROM ARCLIGHT TO ADD CAMPUS LEVEL %>
<h1 class="sr-only"><%= t('arclight.repositories') %></h1>

<div class="al-repositories">
  <% @page_title = t('arclight.views.repositories.title') %>
  <%= render 'shared/breadcrumbs' %>

  <%# ADD CUSTOM CONTENT HERE FOR NGAO REPOSITORY PAGE CONTENT %>
  <h2>Welcome to Archives Online</h2>
  <p>Archives Online is a portal for accessing descriptions of archival and special collections held by libraries, archives and other cultural heritage units at Indiana University or affiliated with Indiana University.  The collection descriptions (finding aids) are for non-book and original research materials such as correspondence and  photographs.</p>

    <%# ADDED CAMPUS LEVEL FOR DISPLAY %>
  <% @campuses.each do |campus, repositories| %>
    <h2><%= convert_campus_id(campus) %></h2>
    <% repositories.each do |repository| %>
      <%= render partial: 'repository', locals: { repository: repository } %>
    <% end %>
  <% end %>
</div>