<%# COPIED FROM ARCLIGHT TO ADD CAMPUS LEVEL %>
<h1 class="sr-only"><%= t('arclight.repositories') %></h1>

<div class="al-repositories">
  <% @page_title = t('arclight.views.repositories.title') %>
  <%= render 'shared/breadcrumbs' %>

  <%# ADD CUSTOM CONTENT HERE FOR NGAO REPOSITORY PAGE CONTENT %>
  <h2>Welcome to Archives Online</h2>
  <p>Archives Online is a portal for accessing descriptions of archival and special collections held by libraries, archives and other cultural heritage units at Indiana University or affiliated with Indiana University. The collection descriptions (finding aids) are for non-book and original research materials such as correspondence and photographs. This new Archives Online site is currently under development and does not yet contain links to digitized materials from collections or all collections from IUPUI. To view digitized archival materials, visit <a href="http://www.dlib.indiana.edu/collections/findingaids">Legacy Archives Online</a>. To view additional IUPUI collections, visit <a href="https://www.ulib.iupui.edu/special">Ruth Lilly Special Collections &amp; Archives</a>.</p>

    <%# ADDED CAMPUS LEVEL FOR DISPLAY %>
  <% @campuses.each do |campus, repositories| %>
    <h2><%= convert_campus_id(campus) %></h2>
    <% repositories.each do |repository| %>
      <%= render partial: 'repository', locals: { repository: repository } %>
    <% end %>
  <% end %>
</div>