<footer id="ngao-footer">
  <div class="row pad">
    <div class="link-caddy" id="static-link-caddy">
      <%= render 'shared/static_pages_links' %>
    </div>
    <div class="link-caddy" id="admin-link-caddy">
      <%= render 'shared/user_auth_links' %>
    </div>
  </div>
</footer>