<footer id="ngao-footer">
  <div class="row pad ngao-links">
    <div class="link-caddy">
      <%= render 'shared/static_pages_links' %>
      <%= render 'shared/user_auth_links' %>
    </div>
  </div>
</footer>