<% if current_user %>
  <li class="nav-item ml-3">
    <%= link_to "Admin", admin_path, class: 'nav-link' %>
  </li>
  <li class="nav-item ml-3">
    <%= link_to "Logout", destroy_global_session_path, class: 'nav-link' %>
  </li>
<% else %>
  <li class="nav-item ml-3">
    <%= link_to "Admin", admin_path, class: 'nav-link' %>
  </li>
<% end %>
