<% @page_title = t('arclight.views.contribute.title') %>
<div>
  <h2>Contribute to Archives Online</h2>
  <p>Email <a href="mailto:diglib@indiana.edu">diglib@indiana.edu</a> to setup an introductory consultation to Archives Online. Members of the Digital Collections Services team from the IU Libraries Bloomington will be able to help you with managing/description or the delivery/discovery of your finding aids.</p>

<p>Visit the <a href="https://uisapp2.iu.edu/confluence-prd/x/uYTYHg">Archives Online Working Group</a> wiki to review best practices and related documentation. </p>
</div>