<% @page_title = t('arclight.views.help.title') %>
<div>
  <h2>Help with Archives Online</h2>
  <h3>All Fields Options</h3>
  <p><span style="font-style:italic; font-weight:bold">Collections</span> include records from Indiana University repositories. You can search across all collections (finding aids) or search within an individual collection. The All Fields drop-down menu for Archives Online searching allows users to narrow their search even further.</p>
  <ul>
	<li>
		You can search by <span style="font-style:italic; font-weight:bold">Keyword</span> to find a specific word or phrase represented anywhere in a collection's finding aid.
	</li>
	<li>
		You can search by <span style="font-style:italic; font-weight:bold">Name</span> to find a specific person's name represented in a collection's finding aid.
	</li>
	<li>
		You can search by <span style="font-style:italic; font-weight:bold">Place</span> to find a specific locations represented in a collection's finding aid.
	</li>
	<li>
		Each collection has been assigned a number of subjects to describe the materials in the collection. A <span style="font-style:italic; font-weight:bold">Subject</span> search is similar to a keyword search, but instead of searching through the entire finding aid you are searching the assigned subjects of each collection.
	</li>
	<li>		
		You can search by <span style="font-style:italic; font-weight:bold">Title</span> to find a specific collection in Archives Online. 
	</li>
  </ul>
  <h3>Advanced Searching</h3>
  <h4>Shout Your Boolean</h4>
  <p>
  	To optimize your search, you can use Boolean operators in the search bar. Boolean operators are simple words (<span style="font-weight:bold">AND</span> and <span style="font-weight:bold">NOT</span>) used as conjunctions to combine or exclude keywords in a search. Doing so results in more focused and productive results. Using Boolean operators should save time and effort by eliminating inappropriate hits. Please note that Boolean operators must be entered in ALL CAPS to be recognized by the system - shout your Boolean!
  </p>
  <p>
  	<span style="font-weight:bold">AND</span>—Both terms must be represented in a collection. If one term is contained in the
document and the other is not, the item is not included in the resulting list. You would use AND if you are trying to narrow your search.
  <br/>
  	<span style="font-style:italic">Example:</span> A keyword search for <span style="font-weight:bold">love AND baseball</span> will only return collections that represent both terms. A collection that includes the term "love" but not the term "baseball" will not be included in the resulting list. 
  </p>
  <p>
  	<span style="font-weight:bold">NOT</span>—the first term is searched, then any records containing the term after the operators are subtracted from the results. You would use NOT if you're trying to limit your search.
  	<br/>
	<span style="font-style:italic">Example:</span> A place search for <span style="font-weight:bold">love NOT baseball</span> would exclude all hits for "love" that also included "baseball." 
  </p>
  <h4>Exact Phrase and Wildcard Searching</h4>
  <p>
  	<span style="font-weight:bold">Helpful hints:</span> Use quotation marks around search terms greater than one word. When you surround your search terms with quotation marks, you are telling the database that the words must appear as an exact phrase. Otherwise, each word in your search term will be searched separately, broadening your search.
  	<br/>
<span style="font-style:italic">Example:</span> <span style="font-weight:bold">Indiana University</span> yields more results than <span style="font-weight:bold">"Indiana University"</span> in quotation marks because in the first search, Archives Online is looking for every collection that contains "Indiana" AND "University" AND "Indiana University."
  </p>
  <p>
  	You can use wildcards (<span style="font-weight:bold">?</span>, <span style="font-weight:bold">*</span>) for searching as well.
  <br/>
	<span style="font-style:italic">Examples:</span> <span style="font-weight:bold">base*</span> returns results with "bases" or "based" or "baseball." <span style="font-weight:bold">wom?n</span> returns results with "woman" or "women."
  </p>
</div>