<% @page_title = t('arclight.views.help.title') %>
<div>
  <h2>Help Topics Coming Soon!</h2>
  <p>Help will be filled in as needed. Topics to add include: conducting Boolean searches (Advanced Searching), searching for digital objects</p>
</div>