<%# COPIED FROM ARCLIGHT SO CUSTOM CONTENT CAN BE LOADED TO HOME PAGE %>
<% @page_title = t('arclight.views.home.title') %>

<%# ADD CUSTOM CONTENT HERE FOR NGAO HOME PAGE CONTENT %>
  <h5>Add custom content here</h5>
