/*
*= require arclight/application
*/

@import "iu_variables";

svg {
  height: 1rem;
  width: 1rem;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#main-container {
  flex: 1 0 auto;
}

// Placeholder styling override
.al-hierarchy-placeholder {
  margin-top: 0em;
  margin-bottom: 1rem;

  h3 {
    padding-top: .5rem;
    padding-bottom: 3rem;
  }
}

tr.needs-update {
  font-style: italic;
  font-weight: bold;
  background-color: $iu-cream;
}