@import "iu_variables";

// links (e.g. in the menu bar)
a {
  color: $iu-crimson;
}
a:hover {
  color: $iu-mahogany;
}
.page-link {
  color: $iu-crimson;
}
.page-link:hover {
  color: $iu-mahogany;
}
.page-item.active .page-link {
  background-color: $iu-crimson;
}

// button colors
.btn-primary {
  background-color: $iu-crimson;
  border-color: $iu-mahogany;
}
.btn-primary:hover, .btn-primary:active {
  background-color: $iu-mahogany;
}
.btn-secondary{
  background-color: $iu-mahogany;
}
.btn-outline-secondary {
  border-color: $iu-mahogany;
}

// The "X" button to remove a facet from your search results
.btn-danger:hover,
.applied-filter .remove:hover  {
  background-color: $iu-cream;
}

// active colors for toggable buttons on search results
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: $iu-mahogany;
}
// search box outlines
.custom-select, #q {
  border-color: $iu-mahogany;
}
// search button
.search-btn {
  background-color: $iu-crimson;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:focus, .btn-primary.focus {
  background-color: $iu-mahogany;
}
// facet colors
.card {
  background-color: $iu-cream;

}
// Active (i.g. elected) facet
.bg-sucess,
.facet-limit-active {
  border-color: $iu-crimson !important;
  .card-header {
    background-color: $iu-crimson !important;
    .btn{
      color: $iu-cream;
    }
  }
  .card-body > .facet-values  {
    color: $iu-crimson;
  }
}
.text-success,
.facet-values li .selected {
  color: $iu-crimson !important;
}

// icon colors
article.document .blacklight-icons svg {
  fill: $iu-mahogany;
}

// online content icon
article.document .blacklight-icons.al-online-content-icon svg,
li.al-collection-context .al-online-content-icon svg,
.al-online-content-icon .blacklight-icons svg {
  fill: $iu-crimson;
}

// extents (eg "# items")
.documents-list article.document .document-title-heading .al-document-extent,
.documents-online_contents article.document .document-title-heading .al-document-extent {
  background-color: $iu-cream;
}
// Raw item count (eg. "#") in the collection/item tabs
.badge-secondary {
  background-color: $iu-mahogany;
}

// Search "label" on the menubar
.input-group-text {
  background-color: $iu-cream;
}

// item show page action box (e.g. downloads)
.al-show-actions-box {
  background-color: $iu-cream;
}
// tabs on the collect/item pages
.nav.nav-tabs .nav-item .nav-link:not(.active) {
  background-color: $iu-cream;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $iu-crimson;
}

// sliders on date range facet
.slider-handle {
  background-image: linear-gradient($iu-crimson 0%, $iu-crimson 100%) !important;
}

// change search button dropshadow to iu crimson
.btn-primary:focus, .btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(153, 0, 0, 0.5);
}
// fixed blue on some button clicks
.btn:disabled, .btn.disabled {
  background-color: $iu-mahogany;
}
